<div class="cart">
  <div class="cart__header"> Your order: </div>
  <div class="cart__subheader"
       *ngIf="_cartNotEmpty"
  >
    <div class="cart__subheader-name"> Name </div>
    <div class="cart__subheader-amount"> Amount </div>
    <div class="cart__subheader-price"> Price </div>
  </div>
  <div class="cart__order"
       *ngFor="let pizza of _chosenPizzas"
  >
    <div class="cart__order-pizza">
      <img class="cart__order-pizza-image"
        src={{pizza.image}}
      >
      <div class="cart__order-pizza-name">
        Pizza {{pizza.name}}
      </div>
      <div class="cart__order-pizza-amount">
        {{pizza.amount}}
      </div>
      <div class="cart__order-pizza-price">
        {{pizza.price}}$
      </div>
    </div>
  </div>
  <div class="cart__total">
    <span> Total sum: </span>
    <span> {{_totalSum}}$ </span>
  </div>
</div>
